<div class="container-fluid">
    <div class="overview">
        <div class="box box-1">
            <h4>Tổng quan</h4>
            <div class="row">
                <div class="col-3">
                    <div class="stat-box stat-box-1">
                        <div class="general-box">
                            <i class="bi bi-music-note-beamed"></i>
                            <h5>24489</h5>
                            <p>Bài hát</p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="stat-box stat-box-2">
                        <div class="general-box">
                            <i class="bi bi-person-vcard"></i>
                            <h5>5646</h5>
                            <p>Phiếu yêu cầu</p>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="stat-box stat-box-3">
                        <div class="general-box">
                            <i class="bi bi-telephone-inbound"></i>
                            <h5>31</h5>
                            <p>Liên hệ hỗ trợ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-2">
            <div class="calendar-header">
                <h4>{{ currentDate }}</h4>
                <div class="navigation">
                    <i class="bi bi-caret-left" (click)="previousWeek()"></i>
                    <i class="bi bi-caret-right" (click)="nextWeek()"></i>
                    <i class="bi bi-arrow-repeat" (click)="resetDate()"></i>
                </div>
            </div>

            <div class="calendar-container">
                <div class="week-days">
                    <div class="day-header">
                        <div class="day" *ngFor="let label of daysLabels">
                            <span>{{ label }}</span>
                        </div>
                    </div>

                    <div class="day-dates">
                        <div 
                            class="date" 
                            *ngFor="let date of daysOfWeek; let i = index" 
                            [ngClass]="{'today': isToday(i), 'selected': isSelected(i)}"
                            (click)="selectDate(i)">
                            <span>{{ date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>