<div class="container-fluid">
    <div class="clock-container">
        <button (click)="toggleClockFormat()" title="Đổi định dạng giờ">
            <i class="bi bi-arrow-repeat"></i>
        </button>
        <div class="clock">
            <span>{{ time }}</span>
        </div>
    </div>

    <!-- Search -->
    <div class="search-container" (click)="$event.stopPropagation()">
        <i class="bi bi-search search-icon"></i>
        <input
            type="text"
            [(ngModel)]="searchQuery"
            (focus)="openSearch = true"
            (input)="filterSuggestions()"
            placeholder="Tìm kiếm bài hát..."
        />

        <!-- Dropdown suggestions -->
        <div class="search-dropdown" *ngIf="openSearch">
            <div class="dropdown-title">Đề xuất cho bạn</div>
            <div
                class="dropdown-item"
                *ngFor="let item of filteredSuggestions"
                (mousedown)="selectSuggestion(item)"
            >
                <i class="bi bi-activity"></i>
                <span>{{ item }}</span>
            </div>
        </div>
    </div>

    <div class="account" (click)="toggleDropdown(); toggleClick()" [class.clicked]="isClicked">
        <i class="bi bi-person-circle"></i>
        <i class="bi bi-chevron-down arrow"></i>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li><a href="#" class="dropdown-item">Thông tin tài khoản</a></li>
            <li><a routerLink="/logout" class="dropdown-item logout"><i class="bi bi-box-arrow-right"></i> Đăng Xuất</a></li>
        </ul>
    </div>
</div>