<div class="logo">
    <img src="../../../../../assets/images/logo.png" alt="logo">
</div>

<ul class="menu">
    <li><a routerLink="/home" routerLinkActive="active"><span></span><i class="bi bi-vinyl"></i>Khám phá</a></li>
    <li><a routerLink="/unichart" routerLinkActive="active"><span></span><i class="bi bi-pie-chart"></i>Unichart</a></li>
</ul>

<hr>

<ul class="utility-menu">
    <li><a routerLink="/list-song" routerLinkActive="active"><span></span><i class="bi bi-music-note"></i>Âm nhạc</a></li>
    <li><a routerLink="/favorite-song" routerLinkActive="active"><span></span><i class="bi bi-heart"></i>Bài hát yêu thích</a></li>
    <li><a routerLink="/upload-song" routerLinkActive="active"><span></span><i class="bi bi-cloud-arrow-up"></i>Đã tải lên</a></li>
</ul>
